<header>
    <nav class="navbar my-0 py-0">
        <div class="container-fluid" style="height: 70px; background-color: black;">
            <div class="container-fluid position-relative">
                <div class="col " style="height: 70px;">
                    <a class="container-fluid " href="">
                        <img src="" alt="" style="width: 110px; height: 70px;" class="position-absolute top-0 start-0">
                    </a>
                </div>
                <div class="col " style="height: 70px;">
                    <button type="button" class="btn btn-dark mt-3 position-absolute top-0 end-0">Login</button>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid my-1 text-center" style="max-width: 80%; height: 80%; min-width: 550px;">
        <div class="">
            <img src="/assets/images/pc.jpg" class="img-fluid" alt="portada">
        </div>
    </div>
</header>

@code {

}
