<div class="container-fluid mt-2 shadow p-1 mb-3" style="min-width: 550px;">
    <div class="container-fluid bg-secondary">
        <div class="row">
            <div class="col-8 text-start">
                <h1>Formacion Academica</h1>
            </div>
            <div class="col-4 text-end p-0">
                <!--<fa-icon [icon]="faSquarePlus" (click)="nuevoDialog()" style="font-size:40px;" class="btn"></fa-icon>-->
            </div>
        </div>
    </div>


    <div>
        @for (int i = 0; i<3; i++)
        {
            <div class="container-fluid ps-4 shadow-sm p-1 my-3">
                <div class="row">
                    <div class="col-8"><h2>item.institucion</h2></div>
                    <div class="col-4 text-end p-0">
                        <!--<fa-icon [icon]="faPenToSquare" (click)="enActualizacion(item.id)" style="font-size:20px;" class="btn"></fa-icon>-->
                        <!--<fa-icon [icon]="faTrash" (click)="borrarElemento(item.id)" style="font-size:20px;" class="btn"></fa-icon>-->
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 text-center shadow-sm" style="max-width:200px; max-height: 200px;">
                        <img src="/assets/images/324409.png" class="img-fluid" />
                    </div>
                    <div class="col-8  text-start">
                        <p>item.descripcion</p>
                        <p>item.ubicacion</p>
                    </div>
                </div>
            </div>            
        }       
    </div>
</div>

@code {

}
